<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="UTF-8">
  <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href = "@{/css/style.css}" rel="stylesheet">
  <title>Customer Manager</title>
</head>
<body>

<div  th:fragment="nav">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Custumer-Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/customer?id=} + ${id}">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/customer/create?id={id}&uuid=null(id=${id})}">Create</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
    <div th:if="${error}" class="alert alert-danger mb-4" role="alert">
      <h4 class="alert-heading">Erroe</h4>
      <p th:text="${error}"></p>
    </div>
  <div th:if="${message}" class="alert alert-danger mb-4" role="alert">
    <h4 class="alert-heading">Erroe</h4>
    <p th:text="${error}"></p>
  </div>
</div>


  <div th:fragment="footer">
    Footer
  </div>
</body>
</html>