<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/master :: head"></head>
<body>
    <nav th:replace="fragments/master :: nav"></nav>
    <h2 th:text="${message}">Hello Good Morning!.</h2>

<div th:replace="fragments/master :: footer"></div>
</body>
</html>