<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments/master :: head}"></head>
<body>
<nav th:replace="~{fragments/master :: nav}"></nav>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Email</th>
        <th scope="col">First Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Street</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Phone</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${customers}">
        <th th:text="${customer.email}" scope="row"></th>
        <td th:text="${customer.first_name}"></td>
        <td th:text="${customer.last_name}"></td>
        <td th:text="${customer.street}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.city}"></td>
        <td th:text="${customer.state}"></td>
        <td th:text="${customer.phone}"></td>
        <td>
            <a th:href="@{/customer/create?id={id}&uuid={uuid}(id=${id}, uuid=${customer.uuid})}"
               class="btn btn-primary">Update</a>
            <a th:href="@{/customer/delete?id={id}&uuid={uuid}(id=${id}, uuid=${customer.uuid})}" class="btn btn-danger">Delete</a>
        </td>
    </tr>

    </tbody>
</table>

<div th:replace="~{fragments/master :: footer}"></div>
</body>
</html>